.center {
    margin-left: auto;
    margin-right: auto;
}

.signup-form {
    width: 515px;
    margin-top: 90px;
}

.signup-form .form-container {
    width: 375px;
    height: 410px;
}

.signup-form .form-name {
    width: 140px;
}

.signup-form #logo {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}